<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Zeta Mu Votes</title>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE-Edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<!--Custom Fonts-->
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
		<!--Bootstrap CSS-->
		<link href='/bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet'>
		<!--Custom CSS-->
		<link href='/static/css/style.css' rel='stylesheet'>
	</head>
	{% block content %}

	{% endblock %}
	<footer class='footer'>
		<div class='container'>
			Zeta-Mu Votes | <a href='#'>Issues</a> | <a href='#'>Suggestions for Improvement</a>
		</div>
	</footer>
	<script src ="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src ="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	{% block script %}
	{% endblock %}
</html>
